.gemeralBody {
	width: 1200px;
	margin: 0 auto;
	overflow: visible;
	padding: 40px 10px 10px;
	background: #ffffff;
}

.gemeralBody li {
	min-height: 480px !important;
}

.General-Left{
	width: 80% !important;
}
.aui li{
	line-height :25px !important;
}

.PromptClass{
	display: inline-block !important;
}


input.searchFront[type="submit"] ,
input.searchFront[type="button"]{
    width: 81px !important;
    height: 24px !important;
    border: 0 !important;
    color: #fff !important;
    line-height: 24px !important;
    text-align: center !important;
    cursor: pointer !important;
    text-shadow: none !important;
}
input.searchFront[type="submit"]{
    margin: 0 !important;
}
input.searchBack[type="button"]{
    width: 89px;
	height: 24px;
	line-height: 24px;
	border: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-shadow: none;
}
input.rjToAccountBack[type="button"]{
    width: 160px;
	height: 24px;
	line-height: 24px;
	border: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-shadow: none;
}
input.searchBack[type="submit"]{
    margin: 0 !important;
}

.process-box-right{
	width: 82% !important;
	padding: 0px !important;
}

.lfr-search-container {
	margin-top: 0 !important;
}

#_reimburseManager_WAR_vgcaponportlet_comment {
	width:99%;
}

.process-account-right {
	width: 82% !important;
}

.aui fieldset {
	padding: 8px;
}

.aui fieldset legend {
	border: medium none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}
.Applicant-Info {
	height: 190px !important;
    width: 200px !important;
}

input.rjToAccount[type="button"]{
    width: 128px;
    cursor: pointer;
}
.do-search-box{
	height:auto !important;
}


/*************************** custom css pageStyle ******************/

.delta-selector {
    float: left;
    margin-left: 20px;
    line-height: 47px;
}

.delta-selector select {
   height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 50px;
}

.delta-selector span {
    font-weight: normal !important;
}


.page-selector {
    float: left;
    margin-left: 20px;
    line-height: 47px;
}

.page-selector select {
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 50px;
}

.page-selector font {
    font-weight: normal !important;
}

.page-links {
    float: left;
    margin-left: 20px;
    line-height: 47px;
}




.tabs-btm-title {
	background: #EAEEED;
	padding-left: 10px;
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
}

.aui input[type="checkbox"]{
    width: 10px;
}

