#timeViewer {
	background-color: #FFFFFF;
	border-style: solid;
}

#timeViewer th {
	background-color: #EAEAEA;
	border-style: none;
}

#timeViewer td {
	border-color: #C5C5C5;
	padding: 2px 2px 3px;
	border-width: 0 0 0 1px;
}

#timeViewer td:first-child {
	border-left: 0 none;
}

#timeViewer a {
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	font-size-adjust: none;
	color: #333333;
	text-decoration: none;
	line-height: 15px;
	text-align: center;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	display: block;
	border-collapse: separate;
	font-stretch: normal;
	font-variant: normal;
}

#timeViewer a:hover {
	background-color: #C5C5C5;
	color: #000000;
}

.hoursHover {
	background-color: #C5C5C5;
	color: #000000;
}

.fl {
	float: left;
}

.date,.time {
	width: 16px;
	height: 16px;
	background: url(../images/Time-16x16.png) no-repeat;
	display: block;
	float: left;
	cursor: pointer;
	margin: 5px 10px 0px 10px;
}

.time {
	background-position: 0 0;
}

.time:hover {
	background-position: 0 -16px;
}

.date {
	background-position: 0 -32px;
}

.date:hover {
	background-position: 0 -48px;
}
input.searchButton {
	background: url(../images/search.png) 0 0 no-repeat;
	width: 90px;
	height: 24px;
	border: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-shadow: none;
}